body {
  background-color: Lightblue;
}

h4{
	color: Crimson;
}

td{
	color: Crimson;
}

h5{
	color: Crimson;
}

.button {
  background-color: Crimson; /* Blue */
  border: none;
  color: gold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}