<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<head>
<style>
body{
	background-color: lightblue;
}
.button {
 background-color: Crimson;
  border: none;
  color: gold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.button:hover {
  background-color: Crimson;
  color: white;
}
p {
  font-family: "Courier New", Courier, monospace;
}
p.thick {
  font-weight: bold;
}
p {
  font-size: 18px;
}
p{
	color: Crimson
}

</style>
</head>
<body>
<p>Greetings, my Admin <span th:utext="${username}">Username</p></span>
<a th:href="@{/addAlbum}" class="button">Inserisci Album</a>
<a th:href="@{/addPhoto}" class="button">Inserisci Foto</a>
<a th:href="@{/addPhotographer}" class="button">Inserisci Fotografo</a>
<h5><a href="/logout"><p>Logout<p></a></h5>
</body>
</html>