<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<style>
body {
	background-color: lightblue;
}

h4 {
	color: Crimson;
}

div {
	color: Crimson;
}

li {
	color: Crimson;
}

a {
	color: Crimson;
}
</style>
</head>
<body>
	<div>
		<h4>Lista album</h4>
	</div>
	<div>
		<ul>
			<li th:each="album : ${albums}"><a
				th:href="@{'album' + '/' + ${album.id}}" th:text="${album.title}">
					Boh </a></li>
		</ul>
	</div>
</body>
</html>
