<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
	<link th:href="@{/CSS/formstyle.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
	<div>
		<h4>Inserisci dati album</h4>
	</div>
	<div>
		<form th:action="@{/album}" method="POST"
			th:object="${album}">
			<table>
				<tr>
					<td>Title:</td>
					<td><input type ="text" th:field="*{title}" /></td>
					<td th:if="${#fields.hasErrors('title')}" th:errors ="*{title}"></td>
				</tr>
				<tr> 
					<td>PhotographerId:</td>
					<td><input type ="number" th:field="*{photographerIdForm}" /></td>
					<td th:if="${#fields.hasErrors('photographerIdForm')}" th:errors ="*{photographerIdForm}"></td>
				</tr>
				<tr>
				<td><button type="submit">Invio</button></td>
				</tr>
			</table>
			</form>
			<a th:href="@{/admin}" class="button">Torna alla home</a>
			<h5><a href="/logout">Logout</a></h5>
	</div>
</body>
</html>