<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<style>
body {
	background-color: lightblue;
}

h4 {
	color: Crimson;
}

div {
	color: Crimson;
}

a {
	color: Crimson;
}

h5 {
	color: Crimson;
}
</style>
</head>
<body>
	<div>
		<h4>Album</h4>
		<div>
			Titolo : <span th:text="${album.title}"></span>
		</div>
		<div>
			Fotografo : <span th:text="${album.photographer.toString()}"></span>
		</div>
		<div>
			<h5>
				<a th:href="@{/admin}" class="button">Torna alla home</a>
			</h5>
		</div>
	</div>
</body>
</html>