<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<head>
<style>
body {
	background-color: lightblue;
}

h4 {
	text-align: center;
	color: Crimson;
}
</style>
</head>
<div>
	<h4>Photogallery</h4>
</div>
<div>
	<h4>Queste sono le nostre proposte</h4>
</div>
<table>
	<ul>
		<li th:each="photo : ${photos}"
			th:text="${photo.name} +' '+ ${photo.album.toString()}">
			<img th:src="@{'data:image/jpeg;base64,'+${photo.imgPhoto}}"></img>
		Nome
		Album
		Foto
		</li>
	</ul>
</table>
</head>