<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<head>
<style>
body{
	background-color: lightblue;
}
h1 {
  font-family: "Courier New", Courier, monospace;
}
h1.thick {
  font-weight: normal;
}
h1 {
  font-size: 24px;
}
p {
  font-family: "Courier New", Courier, monospace;
}
p.thick {
  font-weight: bold;
}
p {
  font-size: 18px;
}
</style>
</head>
<body>
	<h1 class="monospace">BENVENUTO NEL SITO DELLA SYLPH S.p.A</h1>
	<div>
		<a th:href="@{/welcome}"><p class="monospace">entra nella nostra home<p></a>
	</div>
</body>
</html>