<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
	<link th:href="@{/CSS/formstyle.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
	<div>
		<h4>Inserisci dati fotografo</h4>
	</div>
	<div>
		<form th:action="@{/photographer}" method="POST"
			th:object="${photographer}">
			<table>
				<tr>
					<td>Nome:</td>
					<td><input type ="text" th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors ="*{name}"></td>
				</tr>
				<tr>
				<td>Cognome:</td>
				<td><input type="text" th:field="*{surname}" /></td>
				<td th:if="${#fields.hasErrors('surname')}" th:errors ="*{surname}"></td>
				</tr>
				<tr>
				<td><button type="submit">Invio</button></td>
				</tr>
			</table>
		</form>
		<a th:href="@{/admin}" class="button">Torna alla home</a>
		<h5><a href="/logout">Logout</a></h5>
	</div>
</body>
</html>