<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<link th:href="@{/CSS/formstyle.css}" type="text/css" rel="stylesheet" />
</head>
<body>
	<div>
		<h4>Inserisci dati foto</h4>
	</div>
	<div>
		<form th:action="@{/photo}" method="POST" th:object="${photo}">
			<table>
				<tr>
					<td>Title:</td>
					<td><input type="text" th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
				</tr>
				<tr>
					<td>AlbumId:</td>
					<td><input type="text" th:field="*{albumIdForm}" /></td>
					<td th:if="${#fields.hasErrors('albumIdForm')}"
						th:errors="*{albumIdForm}"></td>
				</tr>
				<tr>
				<td>File to upload:</td>
				<td><input type="file" name="fileupload" value="fileupload"
					id="fileupload" th:field="*{imgPhoto}"></td>
					<td th:if="${#fields.hasErrors('imgPhoto')}"
						th:errors="*{imgPhoto}"></td>
				</tr>
				<tr>
					<td><button type="submit">Invio</button></td>
				</tr>
			</table>
		</form>
		<a th:href="@{/admin}" class="button">Torna alla home</a>
		<h5>
			<a href="/logout">Logout</a>
		</h5>
	</div>
</body>
</html>