<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<style>
body {
	background-color: lightblue;
}

h4 {
	color: Crimson;
}

div {
	color: Crimson;
}

li {
	color: Crimson;
}

a {
	color: Crimson;
}
</style>
</head>
<body>
	<div>
		<h4>Lista fotografi</h4>
	</div>
	<div>
		<ul>
			<li th:each="photographer : ${photographers}"><a
				th:href="@{'photographer' + '/' + ${photographer.id}}" th:text="${photographer.name} +' '+ ${photographer.surname}">Mattia Scaccia
			</a></li>
		</ul>
	</div>
</body>
</html>
