<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<style>
body {
	background-color: lightblue;
}

h4 {
	color: Crimson;
}

div {
	color: Crimson;
}

a {
	color: Crimson;
}

h5 {
	color: Crimson;
}
</style>
</head>
<body>
	<div>
		<h4>Foto</h4>
		<div>
			Nome : <span th:text="${photo.name}"></span>
		</div>
		<div>
			Album : <span th:text="${photo.album.toString()}"></span>
		</div>
		<div>
			Foto : <span><img th:src="@{'data:image/jpeg;base64,'+${photo.imgPhoto}}"  ></img></span>
		</div>
		<div>
			<h5>
				<a th:href="@{/admin}" class="button">Torna alla home</a>
			</h5>
		</div>
	</div>
</body>
</html>