<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<head>
<style>
body{
	background-color: lightblue;
}
h1{
  font-family: "Courier New", Courier, monospace;
}
h1.thick {
  font-weight: normal;
}
h1 {
  font-size: 24px;
}
p {
  font-family: "Courier New", Courier, monospace;
}
p.thick {
  font-weight: bold;
}
p {
  font-size: 18px;
}
</style>
</head>
<body>
	<div>
		<h1> Gestisci Gallerie Fotografiche</h1>
	</div>
	<div>
		<a th:href="@{'/admin'}"><p>Login</p></a>
	</div>
	<div>
		<h1>Visualizza o Ordina Foto dalla Galleria</h1>
	</div>
	<div>
		<a th:href="@{/gallery}"><p>Gallery</p></a>
	</div>
</body>
</html>